matplotlib>=3.10.1
numpy>=2.2.4
pandas>=2.2.3
plotly>=6.0.1
python-dateutil>=2.9.0.post0
pytz>=2025.1
replit>=4.1.1
streamlit>=1.43.2
yfinance>=0.2.54
fastapi
python-dotenv
uvicorn
websockets
fastapi
matplotlib
numpy
pandas
pydantic
python-dateutil
python-dotenv
python-multipart
requests
uvicorn
websockets
yfinance